<footer class="footer">
    <small>
      <a href="https://github.com/PhamPhi">Blog Sample Tutorials</a> by Larry Ritchie
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path%></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><a href="https://news.railstutorial.org">News about rails</a></li>
      </ul>
    </nav>
</footer>